{"accounts" :
    [{
        "auth_service": "google",
        "username": "test@gmail.com",
        "password": "password",
        "location": "Irvine, CA",
        "USE_GOOGLE": true,
        "GMAPS_API_KEY": ["INSERT_API_KEY_OR_KEYS_HERE"],
        "MIN_KEEP_IV" : 50,
        "KEEP_CP_OVER": 500,
        "RELEASE_DUPLICATE": false,
        "DUPLICATE_CP_FOREGIVENESS": 0.90,
        "STEP_SIZE": 100,
        "RETURN_START_INTERVAL": 20
    },
    {  "auth_service": "ptc",
        "username": "USERNAME_HERE",
        "password": "PASSWORD_HERE",
        "location": "Irvine, CA",
        "USE_GOOGLE": true,
        "GMAPS_API_KEY": ["INSERT_API_KEY_OR_KEYS_HERE"],
        "MIN_KEEP_IV" : 50,
        "KEEP_CP_OVER": 200,
        "RELEASE_DUPLICATE": false,
        "DUPLICATE_CP_FOREGIVENESS": 0.90,
        "STEP_SIZE": 100,
        "RETURN_START_INTERVAL": 20
    }
    ]}
